body {
    margin: 0;
}

root {
    flex-grow: 1;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: hidden;
    position: relative;
    display: flex;
}

.content {
    flex-grow: 1;
    margin-top: 64px;
    margin-left: 240px;
}